@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0B0B0B;
  color: white;
  font-family: 'Inter', sans-serif;

  background-image:
  linear-gradient(rgba(120,119,198,0.12) 1px, transparent 1px),
  linear-gradient(90deg, rgba(120,119,198,0.12) 1px, transparent 1px);

  background-size: 50px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}